{% extends "views/_page.njk" %}

{% block title %}
    Contact
{% endblock title %}

{% block page %}
    <div class="container">
        <div class="row">
            <div class="col">
                &nbsp;
            </div>
            <div class="col-5">
                <h1 class="xtitle">{{ title }}</h1>
                <p>{{ description }}</p>
                <img class="img-fluid" src="/img/farewall.jpg" alt="Deno">
            </div>
            <div class="col">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col">
                &nbsp;
            </div>
            <div class="col-8">
                <p class="mt-2 py-2">
                    <a href="/home" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Back Home</a>
                </p>
            </div>
            <div class="col">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col">
                &nbsp;
            </div>
        </div>
    </div>
{% endblock page %}
