{% extends "views/_page.njk" %}

{% block title %}
    Home Page
{% endblock title %}

{% block page %}
    <div class="container">
        <div class="row">
            <div class="col">
                &nbsp;
            </div>
            <div class="col-8">
                <h1 class="xtitle">{{ appname }}</h1>
                <p>{{ appdescription }}</p>
                <img class="img-fluid" src="/img/cover_wide.jpeg" alt="Deno">
            </div>
            <div class="col">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col">
                &nbsp;
            </div>
            <div class="col-8">
                <p class="mt-2 py-2">
                    <a href="/features" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
                </p>
            </div>
            <div class="col">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col">
                &nbsp;
            </div>
        </div>
    </div>
{% endblock page %}

